/* left */

html,body,.box,.container{
    height: 100%;
    position:relative;
    // overflow:hidden;   
}
.box_left{
    top:0;
    left:0;
    height:100%;
    background: #20222A;
    width: 230px;
    color:#C2C2C2;
    position:fixed;
    h1{
        font-size:18px;
        line-height:55px;
        height: 55px;
        font-weight:bold;
        text-align:center;
    }
    h2{
        height: 50px;
        line-height:50px;
        font-size:22px;
        text-align:center;
        

    }
    a{
        display:block;
        height: 34px;
        line-height:34px;
        font-size:18px;
        text-align:center;
        color:#C2C2C2;
    }
    img{
        width: 14px;
        height: 12px;
        position:absolute;
        top:20px;
        right:25px;
    }
}
.box_left>div{
    position: relative;
}


/*left鼠标移入特效*/
.box_left h2:hover{
    opacity:0.3; 
}
.box_left a:hover{
    opacity:0.3; 
}
.box_left h1:hover{
    opacity:0.3; 
}
 /*============================================/* 

/* right部分 */

.box_right{
    background: #fff;
    width: 970px;
    position:relative;
    // overflow:hidden;
}

/* nav=================== */
.nav{
    height: 55px;
    border-bottom:1px solid #ccc;
    margin-bottom:40px;
    a{
        font-size:14px;
        font-weight:bold;
        color:#999;
        padding-left:5px;
        line-height:54px;
    }
    .a1{
       padding-left:38px; 
    }
    .a3{
        color:#666;
    }
}
.nav .a1:hover,.nav .a2:hover{
    color:rgb(0,150,136);
}
/* main   */
.main{
    border:20px solid #F2F2F2;
    overflow:hidden;
}
.main_1{
    height: 80px;
    padding-top:30px;
    margin-left:12px;
    span{
        display:inline-block;
        width: 86px;
        height: 38px;
        line-height:38px;
        text-align:center;
        border:1px solid #ccc;
        font-size:18px;
    }
    .btn_add{
        background:rgba(51, 171, 159, 1);
        margin-right:10px;
    }
    .title{
        width: 300px;
        height: 38px;
        border:1px solid #ccc;
        vertical-align:top;
        margin-left:105px;
        padding-left:5px;
    }
    .btn_search{
        margin-left:20px;
        background:rgba(51, 171, 159, 1);
    }
    select{
        margin-left:20px;
        height: 40px;
        width: 160px;
        vertical-align:top;
        border:1px solid #ccc;
    } 
}
.main_3 li span .xiajia:hover{
    background: rgba(255, 120, 78, 1);
    color:#fff;
}
.main_2,.main_3{
    padding-left:10px;
    padding-right:8px;
    .title_li{
        background: #F2F2F2;
    }
    li{
        overflow:hidden;
        border:1px solid #ccc;
        span{
            position:relative;
            border-right:1px solid #ccc;
            height: 38px;
            display:inline-block;
            line-height:38px;
            text-align:center;
            width: 80px;
            vertical-align:middle;
            
            .img_up{
                position:absolute;
                top:10px;
                right:0;
            }
            .img_down{
                position:absolute;
                top:20px;
                right:0;
            }
            i{
                display:inline-block;
                height: 25px;
                width: 40px;
                background:rgba(51, 171, 159, 1);
                line-height:25px;    

            }
            .del_shop{
                border:1px solid #ccc;
                background: #fff;
            }
            .xiajia{
                background: #F2F2F2;
            }
        }
        .span1,.span2{
            width: 80px;
        }
        .span3{
            width: 160px;
        }
        .span4{
            width: 200px;
        }
        .span9{
            width: 300px;
        }
        .span10{
            width: 200px;
            border:0;
        }
    }
}
.page{
    margin:20px 10px 20px 0;
    // overflow:hidden;

    i{
        height: 30px;
        display:inline-block;
        line-height:30px;
        border:1px solid #ccc;
    }
    span{
        height: 30px;
        display:inline-block;
        line-height:30px;
        border:1px solid #ccc;
    }
    .total{
        height: 30px;
        border:0;
        margin-right:10px;
        span{
            border:0;
        }
    }
    b{
        display:inline-block;
        vertical-align: bottom;
        em{
            border:1px solid #ccc;
            display:inline-block;
            height: 30px;
            width: 30px;
            text-align:center;
            vertical-align: bottom;
            line-height:30px;
        }
        .active{
            background: #33ab9f;
        }
    }
    select{
        height: 32px;
        width: 100px;
        border:1px solid #ccc;
    }
    .yeshu{
        margin-left:20px;
    }
    input{
        width: 37px;
        height: 28px;
        border:1px solid #ccc;
        margin:0 10px;
    }
    .topage{
        border:0;
        margin-left:20px;
    }
    .yes{
        margin-left:10px;
        width: 50px;
        height: 30px;
        text-align:center;
    }
}