@charset "UTF-8";
/* left */
html, body, .box, .container {
  height: 100%;
  position: relative;
}

.box_left {
  top: 0;
  left: 0;
  height: 100%;
  background: #20222A;
  width: 230px;
  color: #C2C2C2;
  position: fixed;
}
.box_left h1 {
  font-size: 18px;
  line-height: 55px;
  height: 55px;
  font-weight: bold;
  text-align: center;
}
.box_left h2 {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
}
.box_left a {
  display: block;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  text-align: center;
  color: #C2C2C2;
}
.box_left img {
  width: 14px;
  height: 12px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.box_left > div {
  position: relative;
}

/*left榧犳爣绉诲叆鐗规晥*/
.box_left h2:hover {
  opacity: 0.3;
}

.box_left a:hover {
  opacity: 0.3;
}

.box_left h1:hover {
  opacity: 0.3;
}

 /*============================================/* 

/* right閮ㄥ垎 */
.box_right {
  background: #fff;
  width: 970px;
  position: relative;
}

/* nav=================== */
.nav {
  height: 55px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.nav a {
  font-size: 14px;
  font-weight: bold;
  color: #999;
  padding-left: 5px;
  line-height: 54px;
}
.nav .a1 {
  padding-left: 38px;
}
.nav .a3 {
  color: #666;
}

.nav .a1:hover, .nav .a2:hover {
  color: #009688;
}

/* main   */
.main {
  border: 20px solid #F2F2F2;
  overflow: hidden;
}

.main_1 {
  height: 80px;
  padding-top: 30px;
  margin-left: 12px;
}
.main_1 span {
  display: inline-block;
  width: 86px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 18px;
}
.main_1 .btn_add {
  background: #33ab9f;
  margin-right: 10px;
}
.main_1 .title {
  width: 300px;
  height: 38px;
  border: 1px solid #ccc;
  vertical-align: top;
  margin-left: 105px;
  padding-left: 5px;
}
.main_1 .btn_search {
  margin-left: 20px;
  background: #33ab9f;
}
.main_1 select {
  margin-left: 20px;
  height: 40px;
  width: 160px;
  vertical-align: top;
  border: 1px solid #ccc;
}

.main_3 li span .xiajia:hover {
  background: #ff784e;
  color: #fff;
}

.main_2, .main_3 {
  padding-left: 10px;
  padding-right: 8px;
}
.main_2 .title_li, .main_3 .title_li {
  background: #F2F2F2;
}
.main_2 li, .main_3 li {
  overflow: hidden;
  border: 1px solid #ccc;
}
.main_2 li span, .main_3 li span {
  position: relative;
  border-right: 1px solid #ccc;
  height: 38px;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  width: 80px;
  vertical-align: middle;
}
.main_2 li span .img_up, .main_3 li span .img_up {
  position: absolute;
  top: 10px;
  right: 0;
}
.main_2 li span .img_down, .main_3 li span .img_down {
  position: absolute;
  top: 20px;
  right: 0;
}
.main_2 li span i, .main_3 li span i {
  display: inline-block;
  height: 25px;
  width: 40px;
  background: #33ab9f;
  line-height: 25px;
}
.main_2 li span .del_shop, .main_3 li span .del_shop {
  border: 1px solid #ccc;
  background: #fff;
}
.main_2 li span .xiajia, .main_3 li span .xiajia {
  background: #F2F2F2;
}
.main_2 li .span1, .main_2 li .span2, .main_3 li .span1, .main_3 li .span2 {
  width: 40px;
}
.main_2 li .span3, .main_3 li .span3 {
  width: 160px;
}
.main_2 li .span9, .main_3 li .span9 {
  width: 100px;
}
.main_2 li .span10, .main_3 li .span10 {
  width: 160px;
  border: 0;
}

.page {
  margin: 20px 10px 20px 0;
}
.page i {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #ccc;
}
.page span {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #ccc;
}
.page .total {
  height: 30px;
  border: 0;
  margin-right: 10px;
}
.page .total span {
  border: 0;
}
.page b {
  display: inline-block;
  vertical-align: bottom;
}
.page b em {
  border: 1px solid #ccc;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: bottom;
  line-height: 30px;
}
.page b .active {
  background: #33ab9f;
}
.page select {
  height: 32px;
  width: 100px;
  border: 1px solid #ccc;
}
.page .yeshu {
  margin-left: 20px;
}
.page input {
  width: 37px;
  height: 28px;
  border: 1px solid #ccc;
  margin: 0 10px;
}
.page .topage {
  border: 0;
  margin-left: 20px;
}
.page .yes {
  margin-left: 10px;
  width: 50px;
  height: 30px;
  text-align: center;
}

/*# sourceMappingURL=order.css.map */
